/* this is where I, meaning Paul Péretié, customize the CSS to make it cool */


/*this is my reco for the body */

body {

	font-family: "Roboto";
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}



.navbar {
		box-shadow: 0 3px 30px rgba(0,0,0,0.8);
		text-align: left;
		border-radius: 0px;
		margin-bottom: 0px;
		background: #ffffff;

}

.navbox a{ 
	color: rgba(0,0,0,1);

 }

.container-fluid{
	position: relative;
}


.grid {

	text-align: center;
	margin-top: 10em;
	margin-bottom: 5em;


}

.grid img{
	margin:2em;
	max-width: 70px;
}

.grid h2{
	font-size: 2em;
}

.grid p{
	padding-left:40px;
	padding-right: 40px;
}

.kikou-block{
	max-width:350px;
	margin:auto;
}

/*for the first VIDEO */

.vid {

	text-align: center;
	margin-top: 10em;
	margin-bottom: 10em;

}

.vid iframe{
	margin-top: 10em;
	box-shadow: 0 3px 30px rgba(0,0,0,0.8);
	max-width:80%; 
}

/* for the new container with various background */


.apps img{ 
	max-width: 100%;
	box-shadow: 0 3px 10px rgba(0,0,0,0.8);
	padding-left: 0px;
	padding-right: 0px;
	
	margin-top: 5em;
 }

.text-block{
	margin-top:5em;
}

.apps h2{ 
	padding-left:50px;
	margin-bottom: 1em;
 }

.apps p{
	padding-left:50px
}


/* creating a separator shape*/

hr.shape{ 
   
  margin-top: 8em;
  width: 100%;
  border-top: dotted 2px;
}

/* Who are we working with atm*/

.partners {
	text-align: center;
}

.partners ul{
	margin-bottom: 3em;
}

.partners li{
	font-size: 2em;
	text-align: center;
	margin: 0.5em;
	box-shadow: 0 3px 10px rgba(0,0,0,0.8);
	max-width: 30%
}


/* effect on images */


figure.effect-lily img {
	width:100%;
	position: relative;

}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	font-family: "Roboto"
	font-weight:400;
	font-size: 60px;
	color: rgba(255,255,255,0.8);
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
	font-family: "Roboto";
	font-size: 40px;
	font-weight: 300px;
}

/* on hover */

figure.effect-lily img {
	filter: brightness(80%);
}

figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/* on scrool layout cool effect */


.cbp-so-scroller img{
	width:120%;

}

.cbp-so-scroller {
	margin-top: 20em;
	overflow: hidden;
}

.cbp-so-section {
	margin-bottom: 1em;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	font-family: "Roboto";
	font-size: 4em;
	font-weight: 300;
	line-height: 1;
}

.cbp-so-section p {
	font-size: 2em;
	font-weight: 300;
}

/* Sides */
.cbp-so-side {
	width: 50%;
	float: left;
	margin: 0;
	padding: 3em 4%;
	overflow: hidden;
	min-height: 12em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: right;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}



